<a href="/products">Volver</a>
<br> <br>

<div class="new">
    <form class="formulario" action="/products" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Titulo ">
        <input name="description" placeholder="Descripción ">
        <input type="number" name="price" placeholder="Precio ">
        <input type="number" name="stock" placeholder="Stock ">
        <input type="file" name="image" multiple="multiple" />
        <input type="submit" value="Crear producto" />
    </form>
</div>